
    <!-- //////////////CODE CHO MÀN HÌNH CHÍNH////////////// -->     
    <div id = "main_screen">
        <!-- Tạo background cho main_screen -->
        <img src="images/main_screen.png">
    </div> 
